$text-col: #FFFFFF;
$back-col:#F0145A;
$header-top-ofset: 50px;
$header-height: 89px;
$baner-top-ofset:$header-top-ofset + $header-height;
$border: white;
$text-blue:#24A3FF;
$text-gray:#B3B3BA;
$text-black:#000000;
$border-gray:#E6E6F0;
$bg-second:#F5F5FA;
$text-shadow:#686887;
$padding: 30px;
$color-f:#323264;